body {
	margin: 0;
	padding: 0;
}


.logo_pic {
	height: 150px;
	width: 400px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
}

form {
	text-align: center;

}

.search_bar {
	height: 20px;
}

.button1 {
	text-align: center;
	margin-left: 420px;
	margin-top: 25px;
}

nav {
	font-size: 10pt;
    height: 35px;
    position: absolute;
    width: 100%;
    background-color: white;

}

footer {
    bottom: 0;
    font-size: 10pt;
    height: 35px;
    position: absolute;
    width: 100%;
    background-color: #f3f3f3;
}

.nav_links {
	float: right;
	padding: 10px;
	text-decoration: none;
	color: black;
}

.foot_links {
	text-decoration: none;
	color: black;
	font-style: 10pt;
	float: right;
	padding: 10px;
}

div {
	float: left;
}

